body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: darkred;
    font-size: large;
}

.docheader {
    text-align: center;
    background-color: darkred;
    font-size: larger;
}

.pagecontainer {
    display: flex;
    flex-direction: row;
}

.left {
    text-align: left;
    background-color: darkred;
    flex-basis: 20%;
}

.main {
    text-align: center;
    background-color: red;
    flex-basis: 60%;
    margin: auto;
    word-wrap: break-word;
}

.main #aboutme {
    margin-left: 5%;
    margin-right: 5%;
}

#featuredproject {
    background-color: blue;
    padding: 1px 20px 20px 20px;
}

.main #projects {
    margin-left: 5%;
    margin-right: 5%;
}

.main #skills {
    margin-left: 5%;
    margin-right: 5%;
}

.main hr {
    border-color: black;
    width: 80%;
}

.skillsgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.skillsgriditem {
    background-color: blue;
    padding: 0px 20px 20px 20px;
}

.projectsgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.projectsgriditem {
    background-color: blue;
    padding: 0px 20px 20px 20px;
}

.main #projects #mpage:active {
    color:blue;
}

.main #projects #mpwd:active {
    color:blue;
}

.right {
    text-align: right;
    background-color: darkred;
    flex-basis: 20%;
}

.docfooter {
    text-align: center;
    background-color: darkred;
    margin-top: 20px;
}

.docfooter button  {
    margin: 0px 5px 0px 5px;
}
